<!DOCTYPE html>
@{ string strData = "test"; }
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>@strData</p>
    </body>
</html>
<!-- you can't put it here, since it's processed top-down { string strData = "test"; }-->