<!DOCTYPE html>

@{ float x, y, z;
    x = 4; 
    y = 5.2f;
    z = x + y; }

@{ var msg1 = "If X = " + x;
   var msg2 = "and Y = " + y;
   var msg3 = "then Z = " + z; }

<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>@msg1</p>
        <p>@msg2</p>
        <p>@msg3</p>       

    </body>
</html>
